.scene{width:800px;height:500px;margin:auto;border:1px solid #000;margin-top:60px;position:relative;overflow:hidden}.scene .surface{position:absolute;bottom:0;left:0;right:0;height:60px;background-color:#68b368}.player{position:absolute;transition:all .1s}body{margin:0;padding:0}

